body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100vh;
    justify-content: end;
}


.box {

    border: 1px solid black;
    width: 100px;
    height: 100px;
    color: white;
    background-color: black;

}

.big {
    background-color: pink;
    width: 400px;
    height: 150px;
    position: relative;
}

.sm1 {
    position: absolute;
    bottom: 0%;
}

.sm2 {
    position: absolute;
    top: 0%;
    right: 0%;
}